*.png filter=lfs diff=lfs merge=lfs -text
patches_v1_seed42/metadata.csv filter=lfs diff=lfs merge=lfs -text
patches_v1_seed42/*.npy filter=lfs diff=lfs merge=lfs -text
patches_dataset/patches_v1_seed42/metadata.csv filter=lfs diff=lfs merge=lfs -text
patches_dataset/patches_v1_seed42/*.npy filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
